@import "tailwindcss";


:root {
  --component: #0f172a;      /* dark blue */
  --bg: #ffffff;       /* sky blue */
  --text: #1f2933;
  --sectext: #293847;
  --secbg: #6b7280;
  --terbg: #f8fafc;
  --card: #ffffff;
  --border: #e5e7eb;
}



/* =========================
   SMALL SCREEN
========================= */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  nav a {
    margin-left: 0;
    margin-right: 15px;
  }
}
