@import "tailwindcss";


:root {
  --maincolor: #00BCFF;
  --focus: #3766d1;
  --bg: #0A1326;
  --text: #F1F5F9;
  --border: #343a41;
  --err: rgb(255, 0, 0);
  --bgt: rgb(20, 20, 20);
  --example: rgb(0, 188, 255);
}



/* =========================
   SMALL SCREEN
========================= */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .h3logo {
    width: 100%;
    text-align: center;
    font-size: 28px;
  }

  nav a {
    margin-left: 0;
    margin-right: 15px;
  }
}